
# Ignore big data
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.log
*.html
*.json
*.tmp
*.ipynb_checkpoints
.Rhistory
.RData
.DS_Store

#Dir struture with data 
logs/
/010-reference/logs/
/010-reference/data/
/010-reference/results/
/010-reference/star_index/
/010-reference/star_index_gtf/
/020-data-download/logs/
/030-qc-fastq/logs/
